[Unit]
Description=VK WebRTC VPN Daemon
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/vk-vpn/vk-vpn-server
ExecStart=/opt/vk-vpn/vk-vpn-server/vk-vpn-daemon --cookies=cookies.json --port=8080
Restart=always
RestartSec=3
TimeoutStopSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
